{% extends 'stats/base.html' %}

{% load i18n %}
{% load static %}


{% block content %}

<div class="container">

    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'faculties' %}" style="text-decoration: none; color: #212A3E;">{% trans 'Факультеты' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'faculties' department.faculty.pk %}" style="text-decoration: none; color: #212A3E;">{{ department.faculty.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'departments' department.pk %}" style="text-decoration: none; color: #212A3E;">{{ department.name }}</a></li>
            </ol>
        </nav>
        <hr style="border-color: #212A3E">
    </div>

    <div class="row mb-5">
        <h3 style="color: #212A3E;">{% trans 'Преподаватели' %}: </h3>
        {% for teacher in department.teacher_set.all %}
            <div class="mb-3 col-sm-12 col-md-8 col-lg-6">
                <div class="card" style="background-color: #212A3E; color: #F1F6F9;">
                    <div class="card-body" role="button" onclick="location.href=`{% url 'teachers' teacher.pk %}`">
                        {{ teacher.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}